" show numbers and ruler
set number relativenumber

" when TAB is pressed, create spaces
set tabstop=4
set softtabstop=4
set expandtab

" don't redraw everytime (especially during macros)
set lazyredraw 

" show matching parenthesis [{()}]
set showmatch

set incsearch           " search as characters are entered
set hlsearch            " highlight matches

